@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Logo
	3.3 Main Nav
	3.4 Menu
4. Home
	4.1 Home Slider
	4.2 Home Slider Nav
	4.3 Home Slider Dots
5. Search
6. Section Title
7. Intro
8. CTA
	8.1 CTA Slider
9. Offers
10. Testimonials
	10.1 Testimonials Slider
11. Trending
12. Contact
13. Footer
	13.1 Footer - About
	13.2 Footer - Blog
	13.3 Footer - Tags
	13.4 Footer - Contact Info
14. Copyright


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

/*********************************
2. Body and some general stuff
*********************************/




*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
	display: contents;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}

h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}

.main-hide {
	display: none;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	display: inline-block;
	height: 53px;
	border-radius: 27px;
	overflow: hidden;
}
.button_bcg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 30%);
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover .button_bcg
{
	left: -100%;
}
.button a
{
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	white-space: nowrap;
	z-index: 2;
}
.button span
{
	display: inline-block;
	vertical-align: middle;
	width: 5.75px;
	height: 5.63px;
	background: #FFFFFF;
	border-radius: 50%;
	margin-right: 2px;
}
.button span:first-child
{
	margin-left: 10px;
}
.button span:nth-child(2)
{
	opacity: 0.6;
}
.button span:last-child
{
	opacity: 0.4;
	margin-right: 0px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	width: 100%;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 60%);
	z-index: 12;
}
.header.scrolled
{
	background: linear-gradient(to right, #7f83f088 0%, #5ad2d481 50%);
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	height: 36px;
	background: linear-gradient(to right, #4b4d8e 0%, #2d6a6b 100%);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .top_bar
{
	visibility: hidden;
	opacity: 0;
	height: 0px;
}
.phone
{
	display: inline-block;
	margin-right: 36px;
	line-height: 36px;
	font-size: 10px;
	font-weight: 600;
	color: #FFFFFF;
}
.social_list_item
{
	position: relative;
	display: inline-block;
	margin-right: 3px;
}
.social_list_item:last-child
{
	margin-right: 0px;
}
.social_list_item a
{
	display: block;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
}
.social_list_item:hover a i
{
	color: #fa9e1c;
}
.social_list_item a i
{
	font-size: 12px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_list_item a:hover
{
	color: #FFFFFF;
}
.user_box_link
{
	display: inline-block;
}
.user_box_link a
{
	display: block;
	font-size: 10px;
	line-height: 36px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
}
.user_box_link a:hover
{
	color: #fa9e1c;
}
.user_box_login
{
	margin-right: 15px;
}
.user_box_login::after
{
	display: block;
	position: absolute;
	top: 15px;
	right: -9px;
	background: #FFFFFF;
	width: 1px;
	height: 9px;
	content: '';
}
.main_nav_col
{
	height: 143px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .main_nav_col
{
	height: 100px;
}

/*********************************
3.2 Logo
*********************************/

.logo_container
{
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.header.scrolled .logo_container
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.logo a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #f4f4f8;
	font-weight: 800;
	text-transform: uppercase;
}
.logo a img
{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 9px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
	width: 250px;
	
}

/*********************************
3.3 Main Nav
*********************************/

.las {
	font-size: 30px;
}


.main_nav_container
{
	margin-right: 221px;
}
.main_nav_item
{
	position: relative;
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
}
.main_nav_item::after
{
	display: block;
	position: absolute;
	left: -1px;
	bottom: -11px;
	width: calc(100% + 2px);
	height: 2px;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	content: '';
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item:hover::after
{
	opacity: 1;
}
.content_search
{
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
	cursor: pointer;
}
.header.scrolled .content_search
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.mag_glass
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.content_search img
{
	width: 17px;
	height: 17px;
}
.content_search:hover .mag_glass
{
	fill: #fa9e1c;
}
.search_form
{
	position: absolute;
	right: 15px;
	top: 120px;
	width: 100%;
	height: 40px;
	visibility: hidden;
	opacity: 0;
}
.search_form.active
{
	top: 105px;
	visibility: visible;
	opacity: 1;
}
.search_content_input
{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	color: #1b0b32;
	padding-left: 20px;
	outline: none !important;
	border: none !important;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
.bez_1
{
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

/*********************************
3.4 Menu
*********************************/


#alrooms {
	color: #ffffff;
	font-weight: 600;
	margin-right: 5px;
}

#aladults-hotel {
	color: #ffffff;
	font-weight: 600;
	margin-right: 5px;
	margin-left: 5px;
}

#alkids-hotel {
	color: #ffffff;
	font-weight: 600;
	margin-right: 5px;
	margin-left: 5px;
}

.hotel-room-result {
	color: #ffffff;
	font-weight: 600;
}
.hotel-adults-result {
	color: #ffff;
	font-weight: 600;
}
.hotel-adults-result {
	color: #ffff;
	font-weight: 600;
}
.hotel-kids-result {
	color: #ffff;
	font-weight: 600;
}
#alkids-apart {
	color: #ffff;
	font-weight: 600;
	margin-right: 5px;
	margin-left: 5px;
}

#aladults-apart {
	color: #ffff;
	font-weight: 600;
	margin-right: 5px;
}

#aladults-services {
	color: #ffff;
	font-weight: 600;
	margin-right: 5px;
}

#alkids-services {
	color: #ffff;
	font-weight: 600;
	margin-right: 5px;
	margin-top: -2px;
	font-size: 15px;
}

.room-1 {
	overflow-y: auto;
}

#room2 {
	height: 30px;
    text-align: left;
    font-weight: 800;
}


.selec-Children {
	width: 42px;
}
.selec-Children-hotel {
	width: 42px;
}
.selec-Children-hotelR1 {
	width: 42px;
}
	

.selec-Children-apart {
	width: 42px;
}

.selec-Children-services {
	width: 42px;
}

.selec-Rooms-hotel {
	width: 42px;
}


#flight-number {
	padding-left: 10px;
}


select{
	word-wrap: normal;
    border-radius: 11px;
}

#reservlogo {
	width: 28px;
}

#stays-tit {
	margin-top: -4px;
}
#reservlogo-yacht {
	width: 44px;
}

.service-persons {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.hamburger
{
	display: none;
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
	cursor: pointer;
	margin-left: 20px;
}
.header.scrolled .hamburger
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.hamburger i
{
	font-size: 24px;
	color: #FFFFFF;
}
.hamburger:hover i
{
	color: #fa9e1c;
}
.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
}

#room1 {
	height: 20px;
	text-align:left;
	font-weight: 800;
	margin-top: 30px;
}



.menu.active
{
	opacity: 0.95;
	visibility: visible;
}
.menu_content
{
	width: 100%;
	height: 100%;
	overflow: auto;
}
.menu_item
{
	position: relative;
	margin-bottom: 3px;
}
.menu_item:last-child
{
	margin-bottom: 0px;
}
.menu_logo
{
	margin-bottom: 28px;
}
.menu_logo a img
{
	width: 40px !important;
}
.menu_item a
{
	display: inline-block;
	position: relative;
	font-family: 'Beyond';
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 400;
}
.menu_item a::after
{
	display: block;
	position: absolute;
	top: 60%;
	left: 0;
	width: 0;
	height: 4px;
	background: #FFFFFF;
	letter-spacing: 2px;
	content: '';
	z-index: 10;
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.menu_item:hover a::after
{
	width: 100%;
}
.menu_close_container
{
	position: absolute;
	top: 94px;
	right: 122px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #fa9e1c;
}

/*********************************
4. Home
*********************************/

#loading {
	display: none;
	/* add styles for the loading div here */
  }
  

.home
{
	width: 100%;
	height: 100vh;
}

#loader {
	border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #444444;
	width: 70px;
	height: 70px;
	animation: spin 1s linear infinite;
}
  
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
  
.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*********************************
4.1 Home Slider
*********************************/


.home_slider_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: 100%;
	
}
.home_slider
{
	width: 100%;
	height: 100%;
}
.home_slider_item
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
}
.home_slider_content
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 11;
}
.home_slider_content h1
{
	margin-bottom: 0px;
}
.home_slider_content h1:first-child
{
	font-size: 112px;
	font-weight: 900;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.home_slider_content h1:nth-child(2)
{
	font-family: 'Beyond';
	font-size: 100px;
	color: #FFFFFF;
	margin-top: -34px;
}
.home_slider_button
{
	margin-top: 70px;
}
.flipInX
{
	animation-delay: 600ms;
}

/*********************************
4.2 Home Slider Nav
*********************************/

.home_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 11;
	cursor: pointer;
}
.home_slider_prev
{
	left: 50px;
}
.home_slider_next
{
	right: 50px;
}
.home_slider_prev:hover .nav_path,
.home_slider_prev:hover .nav_arrow
{
	fill: url(#home_grad_prev);
}
.home_slider_next:hover .nav_arrow,
.home_slider_next:hover .nav_path
{
	fill: url(#home_grad_next);
}

/*********************************
4.3 Home Slider Dots
*********************************/

.home_slider_dots
{
	position: absolute;
	right: 50px;
	bottom: 45px;
	z-index: 10;
}

.home_slider_custom_dot
{
	display: inline-block;
	position: relative;
	height: 35px;
	line-height: 35px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dot:hover
{
	color: #7f82f0 ;
}
.home_slider_custom_dot:hover.active div
{
	border-color: #7f82f0 ;
}
.home_slider_custom_dot.active
{
	padding-left: 13px;
	padding-right: 9px;
	margin-right: 3px;
}
.home_slider_custom_dot div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px transparent;
	border-radius: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dot.active div
{
	border: solid 2px #FFFFFF;
}

/*********************************
5. Search
*********************************/
.vehicle1 {
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	height: 100%;
    margin: 10px;
    border-radius: 10px;
    margin-right: 70%;
    padding-top: 1px;
    text-align: center;
}




.nav-item active {
	color: rgb(202, 43, 43);
}



.search
{
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	z-index: 10;
}
.search_tabs_container
{
	position: absolute;
	bottom: 100%;
	left: 15px;
	width: calc(100% - 30px);
}
.search_tabs
{
	height: 94px;
}
.search_tab
{
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	height: 100%;
	flex-grow: 1;
	background: #0a2b2c99;
	border-radius: 12px;
	border-width: 0.5px;
	border-style: solid ;
	border-color: rgba(255, 255, 255, 0.982);
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab img
{
	margin-right: 0px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}







.search_tab.active
{
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
		color: #ffffff;
}
.search_tab.active img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_tab:hover
{
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	color: #FFFFFF;
}
.search_tab:hover img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}


#lil-search {
	position: absolute;
	bottom: 51px;
	left: 50%;
	
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

#myform {
	padding-left: 10px;
	padding-top: 10px;
}
#myform2 {
	padding-left: 10px;
	padding-top: 10px;
}
.dash-renal-car {
	width: 100%;
}

.dash-book-trans {
	width: 100%;
}


.dash-hire-driv {
	
	width: 100%;
}

.dash-hire-activ {
	width: 100%;
	
}

#lil_kid {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
}



.red-notification-apart {
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(197, 24, 24, 0.955);
	width: 40%;
	height: 20px;
	margin-bottom: 10px;
}

.red-notification-services {
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(197, 24, 24, 0.955);
	width: 40%;
	height: 20px;
	margin-bottom: 10px;
}


.search_tab_lil {
	position: relative;
	height: 50px;
	width: 150%;
	padding:10px;
	color: #393333;
	border-radius: 10px;
	border-color: white;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	border-style: solid ;
	margin-right: 10px;
	display: flex;
	margin-top: -10px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	height: 100%;
	flex-grow: 1;
	
	cursor: pointer;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;

	
}






.transfer-personas-Reserv {
	align-items: center;
	width: 100%;
	display: flex;
}




.trav2 {
	color: #ffffff;
	font-weight: 800;
	font-size: 10px;
}



.search_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	padding-bottom: 46px;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.search_panel.active
{
	display: flex!important;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.search_panel_content
{
	width: 100%;
	height: 100%;
}
.search_input
{
	width: 100%;
	height: 46px;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
	font-weight: 600;
	color: #eee8e8;
}
.search_item:first-child
{
	width: 100%;
}
.search_item:nth-child(2)
{
	width: 100%;
}
.search_item:nth-child(3)
{
	width: 100%;
}
.search_item:nth-child(4)
{
	width: 100%;
}
.search_item:nth-child(5)
{
	width: 100%;
}
.search_item div
{
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 2px;
	
}

.search_item1 div {
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 2px;
	padding-top: 10px;
}

.search_item2 div {
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 2px;
	padding-top: 10px;
}











.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	
	background-image: url(../images/dropdown.png);
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.dropdown_item_select:hover
{
	border: solid 1px #fa9e1c;
}
.dropdown_item_select:focus
{
	outline-color: #fa9e1c;
}
.search_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	background: linear-gradient(to right, rgb(127, 131, 240) 0%, rgb(90, 210, 212) 35%);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	cursor: pointer;
}
.search_button:hover
{
	opacity: 0.8;
}

/*********************************
6. Section Title
*********************************/

.section_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
	margin-top: -8px;
	text-transform: uppercase;
	padding-bottom: 20px;
}

/*********************************
7. Intro
*********************************/

.intro
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 105px;
}
.intro_title
{
	font-weight: 700;
	color: #2d2c2c;
	margin-top: -14px;
}
.intro_text
{
	margin-top: 21px;
}
.intro_text p
{
	font-size: 24px;
	font-style: italic;
	color: #929191;
	line-height: 1.336;
	margin-bottom: 40px;
}
.intro_items
{
	margin-top: 69px;
}
.intro_item
{
	width: 100%;
	height: 425px;
}
.intro_item_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(49, 18, 75, 0.55);
	border-radius: 30px;
}
.intro_item_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	border-radius: 30px;
	
}
.intro_item_content
{
	width: 100%;
	height: 100%;
	z-index: 3;
}
.intro_date
{
	position: absolute;
	top: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: auto;
	padding-left: 39px;
	padding-right: 39px;
	white-space: nowrap;
	font-size: 13px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 27px;
	background: #fa9e1c;
	border-radius: 14px;
}
.intro_button
{
	position: absolute;
	bottom: 51px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.intro_center h1
{
	font-size: 40px;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: -0.05em;
}
.intro_price
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	margin-top: -4px;
}
.rating
{
	margin-top: 10px;
}
.rating i
{
	font-size: 19px;
	margin-right: 4px;
}
.rating i:last-child
{
	margin-right: 0px;
}
.rating_1 i:first-child{color: #ffeb8d;}
.rating_2 i:first-child{color: #ffeb8d;}
.rating_2 i:nth-child(2){color: #fed46b;}
.rating_3 i:first-child{color: #ffeb8d;}
.rating_3 i:nth-child(2){color: #fed46b;}
.rating_3 i:nth-child(3){color: #fbb53d;}
.rating_4 i:first-child{color: #ffeb8d;}
.rating_4 i:nth-child(2){color: #fed46b;}
.rating_4 i:nth-child(3){color: #fbb53d;}
.rating_4 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:first-child{color: #ffeb8d;}
.rating_5 i:nth-child(2){color: #fed46b;}
.rating_5 i:nth-child(3){color: #fbb53d;}
.rating_5 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:nth-child(5){color: #ef910a;}

/*********************************
8. CTA
*********************************/

.cta
{
	padding-top: 125px;
	padding-bottom: 116px;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);	
}
.cta_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.27;
}

/*********************************
8.1 CTA Slider
*********************************/


.cta_item
{
	padding-top: 75px;
	padding-bottom: 61px;
	padding-left: 90px;
	padding-right: 90px;
	background: #FFFFFF;
}
.cta_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
}
.cta_text
{
	font-weight: 600;
	line-height: 2.29;
	margin-top: 14px;
	margin-bottom: 0px;
}
.cta_button
{
	margin-top: 38px;
}
.rating_r i::before
{
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 19px;
	margin-right: 4px;
}
.rating_r_1 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_2 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_2 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_3 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_3 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_3 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_4 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_4 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_4 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_4 i:nth-child(4)::before{color: #fa9e1b; content: "\f005";}
.rating_r_5 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_5 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_5 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_5 i:nth-child(4)::before{color: #fa9e1b; content: "\f005";}
.rating_r_5 i:nth-child(5)::before{color: #ef910a; content: "\f005";}
.cta_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
}
.cta_slider_prev
{
	left: -75px;
}
.cta_slider_next
{
	right: -75px;
}
.cta_slider_prev:hover .nav_path,
.cta_slider_prev:hover .nav_arrow
{
	fill: url(#cta_grad_prev);
}
.cta_slider_next:hover .nav_path,
.cta_slider_next:hover .nav_arrow
{
	fill: url(#cta_grad_next);
}

/*********************************
9. Offers
*********************************/

.offers
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 43px;
	background: #f3f6f9;
}
.offers_items
{
	margin-top: 90px;
}
.offers_col
{
	margin-bottom: 40px;
}



.offers_image_container
{
	width: 100%;
	height: 100%;
}
.offers_image_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 30px;
}
.offer_name
{
	position: absolute;
	left: 0;
	bottom: 27px;
	width: 180px;
	height: 33px;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	overflow: hidden;
}
.offer_name a
{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 35px;
	padding-left: 22px;
}

.offers_price
{
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	color: #eda84a;
	line-height: 25px;
}
.offers_price span
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-left: 12px;
}


.offers_rating i::before
{
	font-size: 13px;
	margin-right: 2px;
}
.offers_text
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-top: 16px;
}
.offers_icons
{
	margin-top: 17px;
}
.offers_icons_item
{
	display: inline-block;
	margin-right: 15px;
}
.offers_icons_item:last-child
{
	margin-right: 0px;
}
.offers_link
{
	margin-top: 20px;
}
.offers_link a
{
	font-size: 12px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.offers_link a:hover
{
	color: #fa9e1b;
}

/*********************************
10. Testimonials
*********************************/

.testimonials
{
	width: 100%;
	padding-top: 105px;
	padding-bottom: 105px;
	background: #FFFFFF;
}
.test_border
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
}

/*********************************
10.1 Testimonials Slider
*********************************/

.test_slider_container
{
	width: 100%;
	margin-top: 54px;
}
.test_item
{
	padding-top: 36px;
}
.test_icon
{
	position: absolute;
	top: 0px;
	left: 41px;
	width: 72px;
	height: 72px;
	background: #fa9e1b;
	border-radius: 50%;
	overflow: hidden;
}
.test_icon img
{
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: auto !important;
}
.test_content_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44.1%;
	background: linear-gradient(to right, #4b4d8ec7 0%, #2d6a6bd4 100%);
	border-radius: 30px;
}
.test_content
{
	width: 100%;
	height: 100%;
	padding-left: 38px;
	padding-top: 44px;
	padding-right: 40px;
}
.test_item_info
{
	position: absolute;
	left: 41px;
	bottom: calc(100% - 18px);
	background: #FFFFFF;
	padding-left: 20px;
	padding-right: 21px;
	padding-top: 9px;
	padding-bottom: 10px;
	z-index: 10;
	border-radius: 20px;
}
.test_name
{
	font-size: 14px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
}
.test_date
{
	font-size: 11px;
	margin-top: 2px;
	color: #2d2c2c;
	padding-left: 2px;
}
.test_quote_title
{
	font-size: 20px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 3px;
}
.test_quote_text
{
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 11px;
}
.test_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
}
.test_slider_nav .nav_path,
.test_slider_nav .nav_arrow
{
	fill: #c4ced2;
}
.test_slider_prev
{
	left: -75px;
}
.test_slider_next
{
	right: -75px;
}
.test_slider_prev:hover .nav_path,
.test_slider_prev:hover .nav_arrow
{
	fill: url(#test_grad_prev);
}
.test_slider_next:hover .nav_path,
.test_slider_next:hover .nav_arrow
{
	fill: url(#test_grad_next);
}

/*********************************
11. Trending
*********************************/

.trending
{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 50px;
}
.trending_container
{
	margin-top: 90px;
}
.trending_item
{
	margin-bottom: 55px;
}
.trending_image
{
	width: 82px;
	height: 76px;
	float: left;
}
.trending_image img
{
	width: 100%;
	border-radius: 20px;
}
.trending_content
{
	padding-left: 94px;
}
.trending_title
{
	margin-top: -5px;
}
.trending_title a
{
	font-size: 16px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trending_title a:hover
{
	color: #fa9e1b;
}
.trending_price
{
	font-size: 14px;
	font-weight: 700;
	color: #fa9e1b;
	margin-top: 2px;
}
.trending_location
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	text-transform: uppercase;
	margin-top: 5px;
}

/*********************************
12. Contact
*********************************/

.contact
{
	width: 100%;
	padding-bottom: 105px;
}
.contact_background
{
	
	position: absolute;
	bottom: -34px;
	left: 0;
	width: 100%;
	height: 104%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.contact_title
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.contact_form_container
{
	padding-top: 74px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 88px;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 50%);
	border-radius: 30px;
}
.contact_form
{
	margin-top: 52px;
	font-size: 0px;
}
.input_field
{
	height: 48px;
	font-size: 12px;
	font-weight: 400;
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
}
.contact_form_name
{
	width: calc((100% - 30px) / 2);
	margin-right: 30px;
}
.contact_form_email
{
	width: calc((100% - 30px) / 2);
}
.contact_form_subject
{
	width: 100%;
	margin-top: 11px;
}
.contact_form_message
{
	height: 126px;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 19px;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
	padding-top: 11px;
}
.form_submit_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 29px;
	padding-right: 29px;
	background: #31124b;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	margin-top: 37px;
	cursor: pointer;
}
.form_submit_button:hover
{
	opacity: 0.8;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}

/*********************************
13. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 113px;
	padding-bottom: 104px;
	background: linear-gradient(to right, #585ba9 0%, #3a8587 100%);
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 25px;
}

/*********************************
13.1 Footer - About
*********************************/

.footer_about
{
	padding-top: 67px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
	
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #fa9e1b;
}
.footer_social_item:hover a i
{
	color: #31124b;
}

/*********************************
13.2 Footer - Blog
*********************************/

.footer_blog
{
	margin-top: 39px;
}
.footer_blog_item
{
	margin-bottom: 21px;
}
.footer_blog_item:last-child
{
	margin-bottom: 0px;
}
.footer_blog_image
{
	width: 60px;
	height: 60px;
	float: left;
}
.footer_blog_image img
{
	width: 100%;
	border-radius: 10px;
}
.footer_blog_content
{
	padding-left: 81px;
}
.footer_blog_title
{
	margin-top: -4px;
	padding-left: 1px;
}
.footer_blog_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_blog_title a:hover
{
	color: #fa9e1b;
}
.footer_blog_date
{
	font-size: 12px;
	font-weight: 400;
	color: #fa9e1b;
	margin-top: 7px;
}

/*********************************
13.3 Footer - Tags
*********************************/

.footer_tags
{
	margin-top: 40px;
}
.tag_item
{
	height: 35px;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	border: solid 1px #fa9e1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 20px;
}
.tag_item:hover
{
	background: #fa9e1b;
}
.tag_item a
{
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	padding-left: 25px;
	padding-right: 25px;
}

/*********************************
13.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}

/*********************************
14. Copyright
*********************************/

.copyright
{
	background: #252646;
}
.copyright_content
{
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
}
.footer_nav_container
{
	height: 52px;
}
.copy-power 
{
	display: grid;
	margin:auto;
}
	

.footer_nav_list
{
	font-size: 0px;
}
.footer_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.footer_nav_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
	text-transform: uppercase;
	line-height: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav_item a:hover
{
	color: #FFFFFF;
}

#downlogo {
	width: 200px;
}


.check-in {
	width: 100%;
	display: flex;
    
	width: 100%;
}

.stays-wico {
	width: 100%;
}

#hire-dr-mid {
	margin-left: 10px;
	margin-right: 10px;
}
#hire-days {
	margin-right: 5px;
}
#hire-hours {
	margin-left: 5px;
}

#hire-tdays {
	padding-left: 10px;
}
























































	#close-ignore {
		height: 30px;
		text-align: right;
		font-weight: 800;
	}

	#close-ignore-hotel {
		height: 30px;
		text-align: right;
		font-weight: 800;
	}

	#close-ignore-apart {
		height: 30px;
		text-align: right;
		font-weight: 800;
	}





	.search_item
	{
		width: 100% !important;
	}



	.hamburger2 {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.871);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.9;
		margin-top: 20px;
		height: 50px;
	}

	.hamburger2-hotel {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.871);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.9;
		margin-top: 20px;
		height: 50px;
	}

	.hamburger2-apartment {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.871);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.9;
		margin-top: 20px;
		height: 50px;
	}

	


	.msmall-search {
		width: 100%;
	}







	#roundedk {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background:#0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;	
	}

	#roundedk-activity {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		display:flex;	
	}

	
	#roundedk-reservaton {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		display:flex;	
	}

	

	#roundedk-in {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;	
	}

	
	#roundedk-hotl-in {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;	
	}

	#roundedk-apart-in {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;	
	}

	#roundedk-serv-in {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;	
	}

	#roundedk-trans-in {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;	
	}
	#roundedk-trans-in-hire {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;	
	}
	


	.check_in {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;
		width: inherit;
	}

	.Zebra_DatePicker_Icon_Wrapper {
		width: inherit;
	}

	#date-book-trans {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.982);
		border-width: 0.5px;
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		width: 100%;
		margin: 0 auto;
		height: 45px;
	}


	#roundedk-out {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		margin: 0 auto;	
	}

	#roundedk-hotl-out {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		margin: 0 auto;	
	}


	#roundedk-apart-out {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		margin: 0 auto;	
	}

	#roundedk-serv-out {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		margin: 0 auto;	
	}

	#roundedk-trans-out {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.982);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgba(255, 255, 255, 0.961);
		margin: 0 auto;	
	}

	




	.tranfer-bok {
		margin-right: 10px;
	}


	#roundedk1 {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.921);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.7;
	} 
#roundedk-hire {
	border-radius: 10px;
	border-width: 0.5px;
	border-color: rgba(255, 255, 255, 0.921);
	background: #0a2b2c99;
	border-style: solid ;
	color: rgb(255, 255, 255);
	opacity: 0.7;
}


	#roundedk24 {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.913);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.7;
		
	}

	.ui-datepicker {
		background: #0a2b2c99;
		border: 1px solid #555;
		color: rgb(0, 0, 0);
		display: flex;
		flex-direction: column;
		
	}







	#count-persons {
		margin-left: 32px;
		font-size: 30px;
		align-items: center;
		width: 100%;
		
	}


	

	#count-persons-adult {
		display: flex;
		flex-direction: row;
	}


.trav {
	color: #ffffff;
	font-weight: 400;
	
	
	
}

.trav2 {
	color: #ffffff;
	font-weight: 800;
	font-size: 10px;
}



#aladults {
	color: #ffffff;
	font-weight: 600;
	font-size: 15px;
	margin-top: -3.5px;
	margin-right: 5px;
	margin-left: 5px;
}






#alkids {
	color: #ffffff;
	font-weight: 600;
	font-size: 15px;
	margin-top: -3.5px;
	margin-right: 5px;
	margin-left: 5px;
}







.travler-display {
	margin-bottom: -30px;
	display: inline-flex;
}


.travler-display-hotel {
	display: flex;
	color: white;
}

.travler-display-apart {
	display: flex;
	color: white;
}

.booking-person-villa {
	margin-top: 4px;
	padding-left: 15px;
	}

	.booking-person {
		margin-top: -19px;
		padding-left: 8px;
		}


	



	.count-person {
		
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		color: #ffffff;
		
		
	}

	.a-style {
		align-items: center;
		justify-content: space-around;
		font-size: 10px;
		font-weight: 800;
		color: #ffffff;
	}



	.search_item-count {
		
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.856);
		
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.7;
		margin-top: 20px;
		
		
	}

	.hamburger2 {
		border-radius: 10px;
		border-width: 0.5px;
		border-color: rgba(255, 255, 255, 0.871);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.9;
		margin-top: 20px;
		height: 50px;
	}
	.hamburger2-hotel {
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.871);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.9;
		margin-top: 20px;
		height: 50px;
	}

	.hamburger2-services {
		border-radius: 10px;
		border-width: .5px;
		border-color: rgba(255, 255, 255, 0.871);
		background: #0a2b2c99;
		border-style: solid ;
		color: rgb(255, 255, 255);
		opacity: 0.9;
		margin-top: 20px;
		height: 50px;
		width: inherit;
	}


	#smview-dash {
		position: relative;
		
		table-layout:auto;
		
	}


	.hiddenm {
		display: none;
	  }



	.menu2 {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		bottom: 10px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
		z-index:4;
}
.menu2-hotel {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		bottom: 10px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
		z-index:4;
		overflow: auto;
}

.menu2-apart {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	z-index:4;
}

.menu2-apart {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	z-index:4;
}

.menu2-services {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	z-index:4;
}



	.menu_content {
		width: 100%;
		display: flex;
		overflow: auto;
		
	}
	
.persons-dash {
	padding: 150px;
	width: 100%;
	height: 100%;
	position:relative;
	margin-top: 60px;
	color: #ffffff;
	font-weight: 600;
	
}

#close-ignore {
    height: 30px;
    text-align: right;
    font-weight: 800;
}
#close-ignore-apart {
	height: 30px;
	text-align: right;
	font-weight: 800;
}

#close-ignore-services {
	height: 30px;
	text-align: right;
	font-weight: 800;
}





#allroom {
	height: 30px;
	text-align:left;
	font-weight: 800;
}


.counters-d {
	text-align: right;	
}

table {
	width: 100%;	
}



.selec-p {
	text-align: left;
	height: 60px;	
}
.maintr {
	height: 40px;
	
}



.mkids-age1 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	
}



.mkids-hotel-age1 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
}



.mkids-hotel-age2 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
}



.mkids-age2 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
}




.mkids-hotel-age4 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
}

.mkids-age3 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	width: 100%;
}

.mkids-age4 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	width: 100%;
}
.mkids-hotel-age3 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
}

.mkids-age5 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	width: 100%;
	
}

.mkids-hotel-age5 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;

}
.mkids-age6 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	width: 100%;
}

.mkids-hotel-age6 {
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
}

.red-notification {
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(243, 47, 47, 0.955);
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
}

.red-notification-hotel {
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(197, 24, 24, 0.955);
	width: 40%;
	height: 20px;
	margin-bottom: 10px;
}

.red-notificationR1-hotel {
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(197, 24, 24, 0.955);
	width: 40%;
	height: 20px;
	margin-bottom: 10px;
}

.red-notificationR3-hotel {
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(197, 24, 24, 0.955);
	width: 40%;
	height: 20px;
	margin-bottom: 10px;
}

.red-notificationR4-hotel {
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(197, 24, 24, 0.955);
	width: 40%;
	height: 20px;
	margin-bottom: 10px;
}

.notifi-red {
	align-items: center;
	width: 40%;

}

.notifi-head {
	
	font-weight: 300;
	color: #ffffff;
	font-size: 8px;
	
}


.done-p {
	text-align: right;
	padding-top:50px ;
	
}

.done-close {
	text-align: center;
	background: #722df3;
		color: #ffffff;
		border-radius: 15px;
		width: 70%;
		margin-left: 50px;
		height: 50%;
		font-size: 20px;
		
}



.done-close-apart {
	text-align: center;
	background: #722df3;
		color: #ffffff;
		border-radius: 15px;
		width: 70%;
		margin-left: 50px;
		height: 50%;
		font-size: 20px;
}

.done-close-services {
	text-align: center;
	background: #722df3;
		color: #ffffff;
		border-radius: 15px;
		width: 70%;
		margin-left: 50px;
		height: 50%;
		font-size: 20px;
}



	#roundedk.active
	{
		background:linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
		color: #ffffff;
	}



 #downlogo {
	width: 150px;
 }


 .search_tab_lil {
	position: relative;
	height: 50px;
	width: 150%;
	padding:10px;
	color: #ffffff;
	border-radius: 10px;
	border-width: 0.5px;
	border-color: white;
	background: #0a2b2c99;
	border-style: solid ;
	margin-right: 10px;
	display: block;
	margin-top: -10px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	height: 100%;
	flex-grow: 1;
	
	cursor: pointer;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;

	
}

.search_tab_lil.active {
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	color: #ffffff;
	
}






.menu-nav a:nth-child(1){
	width: 100%;
	transition: background-color 1s ease;
	color: #ffffff;
}
.menu-nav a:nth-child(2){
	width: 100%;
	transition: background-color 1s ease;
	color: #ffffff;
}
.menu-nav a:nth-child(3){
	width: 100%;
	transition: background-color 1s ease;
	color: #ffffff;
}







.menu-nav a:nth-child(1):hover{
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	color: #ffffff;
	transition: background-color 1s ease;
}
.menu-nav a:nth-child(2):hover{
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	color: #ffffff;
}
.menu-nav a:nth-child(3):hover{
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	color: #ffffff;
}

.menu-nav a:nth-child(1):active {
	width: 500px;
	background: linear-gradient(to right, #7f82f0 0%, #5ad2d4 100%);
	transition: background-color 1s ease;
	color: #ffffff;
	
}





#main2img {
	background-image: url(../images/Menu-img.jpeg);
	background-size: 100%;
}

#all-serchs {
	
	margin-top: -20px;
	
}





.msmall-search {
	width: 100%;
}


::placeholder {
	color: rgba(231, 227, 227, 0.668);
  }


  .fa-solid {
	font-size: 24px;
}









.search-box{
	width: fit-content;
	height: fit-content;
	position: relative;
  }
  .input-search{
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: #22a6b3;
	padding-right: 40px;
	color:#fff;
  }
  .input-search::placeholder{
	color:rgb(255, 255, 255);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 200;
  }
  .btn-search{
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color:#ffffff ;
	background-color:transparent;
	pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  